#loader {
  display: none;
  position: fixed;
  width: 100%;
}

#loader.htmx-request {
  display: block;
}

#srchTxt{
  margin-top:1rem;
}
.animate-slide-down{
  animation:animate-slide-down 0.3s ease-in-out;
}
@keyframes animate-slide-down {
  from{
    opacity:0;
    transform: translateY(-2px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}
th{
  position:relative;
  cursor: pointer;
}
th i{
  position:absolute;
  top:0.25rem;
  right:0.25rem;
}